---

---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Nicole Mendoza Shoblom 니콜</h1>
        <h1>About Me</h1>
		<h1>Looking for all opportunities to build tech, especially if that tech needs data or uses data in some way! What happens if i write some more<h1></h1>
	</body>
</html>
