---
import BaseLayout from "../layouts/BaseLayout.astro"
import '../styles/global.css'
const pageTitle = "Nicole Mundo"
//todo: create something so that blog page title and blog post page titles automatically match
---
<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li><a href="/posts/astrotutorial/">Doing the Astro tutorial</a></li>
    </ul>
    <ul>
        <li><a href="/posts/perfume/">A Feast for the Nose</a></li>
    </ul>
    <ul>
        <li><a href="/posts/afghanwomen/">Men and Women are Equal</a></li>
    </ul>
</baseLayout>