---
import Footer from '../components/Footer.astro';
import Navigation from '../components/navigation.astro'
import '../styles/global.css'
const pageTitle = "Nicole Mundo"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <Navigation />
        <h1>{pageTitle}</h1>
		<p>What do i want to write about first? That...i made the website and posted my resume and this is how i did it.</p>
        <ul>
            <li><a href="/posts/astrotutorial/">Doing the Astro tutorial</a></li>
        </ul>
        <ul>
            <li><a href="/posts/perfume/">A Feast for the Nose aka Perfume Making Class</a></li>
        </ul>
        <ul>
            <li><a href="/posts/afghanwomen/">Afghan Women</a></li>
        </ul>
        <Footer />
	</body>
</html>
